<!DOCTYPE html>
<html>
<head>
  <title>Github Gist example</title>
  <meta charset="utf-8" />
  <!-- bower components -->
  <script src="../jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src="../angular/angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="../gh3/gh3.js" type="text/javascript" charset="utf-8"></script>
  <!-- bower components END-->
  <script src="scripts/app.js" type="text/javascript" charset="utf-8"> </script>
</head>
<body>
  <header>
    
  </header>
  <div id="main" ng-app="githubEx">
    <div ng-controller="MainCtrl">
      <button type="button" ng-click="toggleSource()">Toggle source</button>
      <pre ng-show="viewSource">
        $scope.getFiles = function() {
          var gist = new Gh3.Gist({id: $scope.gistId});
          $scope.files = [];

          gist.fetchContents(function(err, res) {
            if(err) {
              $scope.$apply(function() {
                $scope.result = err.message;
              });
            } else {
              $scope.$apply(function() {
                $scope.result = '';
              });
            }

            gist.eachFile(function(file) {
              $scope.$apply(function() {
                $scope.files.push(file);
              });
            });
          });
        };
      </pre>
      <br/>
      <input type="text" ng-model="gistId">
      <button type="button" ng-click="getFiles()">Get Files</button>
      <br>
      <div>
        {{result}}
        <ul>
          <li ng-repeat="file in files">
            {{file.filename}}
            <pre ng-bind="file.content">
            </pre>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    
  </footer>
</body>
</html>
